<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About My weather app</title>
    <style>
      p{
        font-size:20px;
        padding-left: 20px;
      }
    </style>
  </head>
  <body>
    <%- include("partials/header.ejs") %>
    <p style="font-weight:bold;">My weather app reveals the weather any city you have entered in the search box.</p>
    <p>Email: routb13@gmail.com</p>
  </body>
</html>