<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>How to use My weather app</title>
    <style>
      p{
        font-size:20px;
        font-weight:bold;
        padding-left: 20px;
      }
    </style>
  </head>
  <body>
    <%- include("partials/header.ejs") %>
    <div>
        <p>Enter the name of the city of which you want to know weather of in the search box and click on search button.</p>
        <p>Press on home to go back to home page.</p>
    </div>
    
  </body>
</html>